
@{
    Layout = "_Singlenavbar";
    
}
<style>
    .landing-page-apply-mission-btn,
.landing-page-apply-mission-btn:hover {
    border: 2px solid #F88735;
    border-radius: 30px;
    color: #F88735;
    font-weight: 500;
}
</style>
<h3 class="m-5 p-5 d-flex justify-content-center">
    No Mission Found
</h3>
<div class="d-flex justify-content-center">
                                        <div class="">
                                            <a class="btn mt-2 landing-page-apply-mission-btn" asp-controller="LandingPage" asp-action="Landingpage">
                                                <img src="~/images/left.png" alt="">
                                                Back to Listing 
                                            </a>
                                        </div>
                                    </div>

