@{
    Layout = "_Navbar";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    


    <title>PlatFormLandingPage</title>

    
    <link rel="stylesheet" href="~/css/storylisting.css" />
</head>

<body>

    <div class="hero-image">
        <div class="hero-text">
            <p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content</p>
            <button class="share-story-btn p-2">Share your Story<i class="bi bi-arrow-right ms-2"></i></button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event" id="show-details">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <button class="view-details-btn" onclick="viewdetails()">
                            View Details -->
                        </button>

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mt-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid"
                             style="width: 100%"
                             src="images/Nourish-the-Children-in--African-country.png"
                             alt="" />

                        <!-- <button class="hide apply-btn">
                        <a href="#"> BUTTON </a>
                        </button> -->

                        <div class="landing-page-bottom-center">Children</div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Education Supplies for every Pair of shoes sold
                        </h4>
                        <p class="group inner landing-page-list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </p>
                        <div class="d-flex justify-content-start mt-5">
                            <img src="images/profile.png" class="rounded" />
                            <span class="mt-2 ms-2">Evan Johndo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page-item-current" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        function viewdetails() {
          alert("hello");
        }
    </script>
    
</body>
</html>